body {
	background-image: url(opimage.jpg);
	background-size: cover;

}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

h1
{
	font-size: 30px;
	font-family: 'Lobster Two', cursive;
	text-transform: uppercase;
	line-height: 20px;
	transition: all 1s;
	cursor: copy;
}
.boxmodel
{
	border: 5px blue;
}
form
{
	color: black;
	cursor: pointer; 
	margin: 10px 30px;
	text-align: left;

}